@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75870851');
  src: url('../font/fontello.eot?75870851#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?75870851') format('woff'),
       url('../font/fontello.ttf?75870851') format('truetype'),
       url('../font/fontello.svg?75870851#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75870851#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-network:before { content: '\e801'; } /* '' */
.icon-clipboard:before { content: '\e802'; } /* '' */
.icon-inbox:before { content: '\e803'; } /* '' */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
html,body{height:100%}
body{background:#fff;font-family:Helvetica,Arial,sans-serif;font-weight:200;line-height:20px}
a{color:#3498db;text-decoration:none;}
a:hover{color:#2980b9}
input,textarea,select,option{-webkit-border-radius:3px;border-radius:3px;border:0;height:30px;line-height:20px;padding:5px;}
input:disabled,textarea:disabled,select:disabled,option:disabled{opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"}
#header{margin:50px auto 0;width:960px;}
#header h1{font-size:18px;font-weight:200;margin:0;line-height:50px;padding:0 20px;text-transform:uppercase}
#state-begin{zoom:1;font-size:18px;height:400px;margin:0 auto;text-align:center;width:960px}
#state-begin:before,#state-begin:after{content:"";display:table}
#state-begin:after{clear:both}
#begin-example{float:left;padding:0 0 0 20px;width:50%;}
#begin-example img{-webkit-border-radius:3px;border-radius:3px;display:block}
#begin-inputs{-webkit-border-radius:3px;border-radius:3px;padding:20px;float:left;height:100%;padding:0;width:50%;}
#begin-inputs div{border-color:#fff;border-style:solid;border-width:0 4px 4px 0;color:#fff;height:50%;float:left;padding:10px 20px;width:50%;}
#begin-inputs div i{font-size:72px;display:block;height:130px;line-height:130px;text-align:center}
#begin-inputs #begin-browse{background:-webkit-gradient(linear, left top, right bottom, color-stop(0, #f1948a), color-stop(1, #e74c3c));background:-webkit-linear-gradient(top left, #f1948a 0%, #e74c3c 100%);background:-moz-linear-gradient(top left, #f1948a 0%, #e74c3c 100%);background:-o-linear-gradient(top left, #f1948a 0%, #e74c3c 100%);background:-ms-linear-gradient(top left, #f1948a 0%, #e74c3c 100%);background:linear-gradient(top left, #f1948a 0%, #e74c3c 100%);background:#e74c3c;border-top-left-radius:3px;}
#begin-inputs #begin-browse a{color:#fff}
#begin-inputs #begin-browse input{display:none}
#begin-inputs #begin-enter{background:-webkit-gradient(linear, left top, right bottom, color-stop(0, #f0b27a), color-stop(1, #e67e22));background:-webkit-linear-gradient(top left, #f0b27a 0%, #e67e22 100%);background:-moz-linear-gradient(top left, #f0b27a 0%, #e67e22 100%);background:-o-linear-gradient(top left, #f0b27a 0%, #e67e22 100%);background:-ms-linear-gradient(top left, #f0b27a 0%, #e67e22 100%);background:linear-gradient(top left, #f0b27a 0%, #e67e22 100%);background:#e67e22;border-top-right-radius:3px;border-right:0;}
#begin-inputs #begin-enter input{display:block;height:30px;width:100%}
#begin-inputs #begin-drag{background:-webkit-gradient(linear, left top, right bottom, color-stop(0, #85c1e9), color-stop(1, #3498db));background:-webkit-linear-gradient(top left, #85c1e9 0%, #3498db 100%);background:-moz-linear-gradient(top left, #85c1e9 0%, #3498db 100%);background:-o-linear-gradient(top left, #85c1e9 0%, #3498db 100%);background:-ms-linear-gradient(top left, #85c1e9 0%, #3498db 100%);background:linear-gradient(top left, #85c1e9 0%, #3498db 100%);background:#3498db;border-bottom-left-radius:3px;border-bottom:0}
#begin-inputs #begin-paste{background:-webkit-gradient(linear, left top, right bottom, color-stop(0, #c39bd3), color-stop(1, #9b59b6));background:-webkit-linear-gradient(top left, #c39bd3 0%, #9b59b6 100%);background:-moz-linear-gradient(top left, #c39bd3 0%, #9b59b6 100%);background:-o-linear-gradient(top left, #c39bd3 0%, #9b59b6 100%);background:-ms-linear-gradient(top left, #c39bd3 0%, #9b59b6 100%);background:linear-gradient(top left, #c39bd3 0%, #9b59b6 100%);background:#9b59b6;border-bottom-right-radius:3px;border:0}
.state-started{background:#ecf0f1;}
.state-started #state-begin{display:none}
.state-started #state-started{display:block}
.state-started #header{background:#fff;left:0;margin:0;position:absolute;top:0;width:100%}
#state-started{display:none;height:100%;padding-top:50px}
.pane-stack{float:left;height:100%;}
.pane-stack:first-child{width:70%}
.pane-stack:last-child{background:#7f8c8d;width:30%}
.pane .pane-header{background:#bdc3c7;overflow:hidden;line-height:35px;padding-top:10px;text-transform:uppercase;}
.pane .pane-header h2,.pane .pane-header a{color:#ecf0f1;padding:0 20px}
.pane .pane-header h2,.pane .pane-header .pane-selected{background:#7f8c8d;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;float:left}
.pane .pane-header h2,.pane .pane-header{font-size:14px;font-weight:200}
.pane .pane-content{padding:20px}
.pane-group .pane-header{padding-left:20px;}
.pane-group .pane-header .pane-selected{background:#ecf0f1;color:#7f8c8d}
#pane-edit canvas{clear:both;display:block;margin:20px auto 0}
#pane-edit #area-add{background:#3498db;-webkit-border-radius:15px;border-radius:15px;color:#fff;display:block;font-size:14px;font-weight:200;line-height:30px;padding:0 20px;text-align:center;text-transform:uppercase;float:right;margin-bottom:20px;padding-left:10px}
#pane-info{overflow:hidden;}
#pane-info ul{overflow:hidden}
#pane-info li{float:left;list-style:none;padding:5px 5px 0}
#pane-info label{color:#ecf0f1;display:block;font-size:12px;font-weight:200;text-transform:uppercase}
#pane-info input,#pane-info select{width:100%}
#pane-info #field-url{width:70%}
#pane-info #field-target{width:30%}
#pane-info #field-alt{width:100%}
#pane-info #field-x,#pane-info #field-y,#pane-info #field-height,#pane-info #field-width{width:25%}
#pane-info #area-remove{background:#34495e;-webkit-border-radius:15px;border-radius:15px;color:#fff;display:block;font-size:14px;font-weight:200;line-height:30px;padding:0 20px;text-align:center;text-transform:uppercase;margin-bottom:10px}
#pane-code textarea{background:transparent;color:#ecf0f1;display:block;font-size:14px;font-weight:200;height:500px;padding:0;width:100%}
