@import 'nib'
@import 'fontello.css'

color-bg = #ebebeb
color-highlight1 = #08c
color-highlight2 = #04c
color1 = #E74C3C
color2 = #E67E22
color3 = #3498DB
color4 = #9B59B6
gradient-strength = 40%
font-body = Helvetica, Arial, sans-serif
font-head = font-body
font-mono = monospace
base-border-radius = 3px
base-line-height = 20px
base-gutter = base-line-height

well()
  border-radius base-border-radius
  padding base-gutter

button(bg=color3)
  background bg
  border-radius 15px
  color #fff
  display block
  font-size 14px
  font-weight 200
  line-height 30px
  padding 0 base-gutter
  text-align center
  text-transform uppercase

input()
  border-radius base-border-radius
  border 0
  height 30px
  line-height 20px
  padding 5px

  &:disabled
    opacity .7

*
  box-sizing border-box
  margin 0
  padding 0

html, body
  height 100%

body
  background #fff
  font-family font-body
  font-weight 200
  line-height base-line-height

a
  color #3498DB
  text-decoration none

  &:hover
    color #2980B9

input, textarea, select, option
  input()

#header
  margin 50px auto 0
  width 960px

  h1
    font-size 18px
    font-weight 200
    margin 0
    line-height 50px
    padding 0 base-gutter
    text-transform uppercase

#state-begin
  clearfix()
  font-size 18px
  height 400px
  margin 0 auto
  text-align center
  width 960px

#begin-example
  float left
  padding 0 0 0 base-gutter
  width 50%

  img
    border-radius base-border-radius
    display block

#begin-inputs
  well()
  float left
  height 100%
  padding 0
  width 50%

  div
    border-color #fff
    border-style solid
    border-width 0 4px 4px 0
    color #fff
    height 50%
    float left
    padding 10px 20px
    width 50%

    i
      font-size 72px
      display block
      height 130px
      line-height 130px
      text-align center

  #begin-browse
    background linear-gradient(top left, lighten(color1, gradient-strength), color1)
    background color1
    border-top-left-radius base-border-radius

    a
      color #fff

    input
      display none

  #begin-enter
    background linear-gradient(top left, lighten(color2, gradient-strength), color2)
    background color2
    border-top-right-radius base-border-radius
    border-right 0

    input
      display block
      height 30px
      width 100%

  #begin-drag
    background linear-gradient(top left, lighten(color3, gradient-strength), color3)
    background color3
    border-bottom-left-radius base-border-radius
    border-bottom 0

  #begin-paste
    background linear-gradient(top left, lighten(color4, gradient-strength), color4)
    background color4
    border-bottom-right-radius base-border-radius
    border 0

.state-started
  background #ECF0F1

  #state-begin
    display none

  #state-started
    display block

  #header
    background #fff
    left 0
    margin 0
    position absolute
    top 0
    width 100%

#state-started
  display none
  height 100%
  padding-top 50px

.pane-stack
  float left
  height 100%

  &:first-child
    width 70%

  &:last-child
    background #7F8C8D
    width 30%

.pane

  .pane-header
    background #BDC3C7
    overflow hidden
    line-height 35px
    padding-top 10px
    text-transform uppercase

    h2, a
      color #ECF0F1
      padding 0 base-gutter

    h2, .pane-selected
      background #7F8C8D
      border-radius base-border-radius base-border-radius 0 0
      float left

    h2, &
      font-size 14px
      font-weight 200

  .pane-content
    padding base-gutter

.pane-group

  .pane-header
    padding-left base-gutter

    .pane-selected
      background #ECF0F1
      color #7F8C8D

#pane-edit

  canvas
    clear both
    display block
    margin base-gutter auto 0

  #area-add
    button()
    float right
    margin-bottom base-gutter
    padding-left 10px


#pane-info
  overflow hidden

  ul
    overflow hidden

  li
    float left
    list-style none
    padding 5px 5px 0

  label
    color #ECF0F1
    display block
    font-size 12px
    font-weight 200
    text-transform uppercase

  input, select
    width 100%

  #field-url
    width 70%

  #field-target
    width 30%

  #field-alt
    width 100%

  #field-x, #field-y, #field-height, #field-width
    width 25%

  #area-remove
    button(#34495E)
    margin-bottom 10px

#pane-code

  textarea
    background transparent
    color #ECF0F1
    display block
    font-size 14px
    font-weight 200
    height 500px
    padding 0
    width 100%
