@import 'nib'

collapsed-results-height = 100px

*
  box-sizing border-box
  margin 0
  padding 0

html, body, #container, #started
  height 100%

body
  background #ebebeb
  color #333
  font-family Helvetica, Arial, sans-serif

  &.state-dragover

    #state-intro

      p
        border-color green

  &.state-started

    #state-intro
      display none

    #state-started
      display block

  &.state-dragging, &.state-resizing

    *
      user-select none

h1
  margin 0 0 30px
  text-shadow 1px 0 0 #fff

a
  color #0088cc

well()
  background #fff
  border 1px solid #ccc
  border-radius 5px
  box-shadow 0 3px 3px #ccc
  padding 20px

#content
  padding 40px 0 collapsed-results-height + 20px

#state-intro
  well()
  font-size 18px
  font-weight bold
  margin 200px auto 0
  max-width 600px
  text-align center

  p
    border 1px dashed #ebebeb
    padding 100px 0

#state-started
  display none
  padding 50px

#form-controls
  background red
  display none
  left 0
  padding 5px
  position absolute
  top 0

  #form-url
    width 150px

#mapper-container
  well()

#mapper
  display block
  margin 0 auto
  user-select none

#generated
  display block
  font-size 22px
  height 200px
  margin 20px auto
  width 60%
